* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background: $c-primary;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
}