.c-fts-input{
    &.cb-c-input {
        width: 100%;
        height: 48px;
        font-size: 1rem;
        border-color: $c-yellow-dark;
        font-family: 'Open Sans', sans-serif;
        &[type="text"]{
            border: 1px solid $c-grey-mid;
            border-radius: 4px;
            min-width: 49px;
            padding: 8px 16px;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }
}

.c-fts__label {
    display: block;
    padding: 0 0 $space /2;
    color: $c-grey-dark;
    font-family: 'Open Sans', sans-serif;
    &.ui-clyde {
        font-size: 14px;
        line-height: 1.25rem;
        font-weight: 400;
    }
}