#searchbox {
    padding: $space * 2;
    width: 100%;
    margin: auto;
    @include respond-to('small') {
        width: 60%;
    }
}
.c-searchbox {
    margin: 0;
    padding: $space;
    letter-spacing: -.4px;
    background-color: $c-secondary;
    padding: 24px;
    letter-spacing: 0;
}